*.pyc
*.egg-info
worker_logs/
.env
.envrc
docwriter.toml
.terraform/
.venv/
.terraform.lock.hcl
.terraformrc
crash.log
__pycache__/
worker_logs/
.idea/
.vscode/
.DS_Store
config/
scripts/
.next/*
*.tfvars
*.tfstate
*.tfstate.backup
*.hcl
build/